* {
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    display: flex;
    flex-direction: row;
    width: 1250px;
    height: 80px;
    background: #06275b;
}
.header_logo{
    margin-top: 15px;
    height: 100%;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
    margin-left: 12%;
}
.carusel{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1320px;
    height: 400px;
    background: lightblue;
}
.side_nav{
    margin: 0 auto;
    background: lime;
    width: 1250px;
    height: 300px;
}
.side_nav nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 0px;
}
.side_nav a{
    margin-top: 10px;
    background: lime;
    width: 150px;
    text-decoration: none;
    color: snow;
    text-align: left;
    font-size: 20px;
    padding: 0px 10px;
    font-weight: bold;
}
.top_nav nav{
    margin-top: 15px;
    margin-left: 330px;
}
.top_nav a{
    justify-content: flex-end;
    color: snow;
    text-align: center;
    font-size: 35px;
    padding: 0px 10px;
    font-weight: bold;
}
nav .action{
    color: red;
}
.top_nav .icon{
    display: none;
}
.hidden {
    display: none;
}
@keyframes myanimation {
    0% {color:snow;}
    25% {color:red;}
    50%{color:snow;}
    75%{color:lime;}
    100%{color:snow;}
}
@keyframes myanimation {
    0% {color:white;}
    50% {color:red;}
    100%{color:white;}
}
.action {
    animation: myanimation 2s infinite linear;
}
.top_nav a:hover {
    color: red;
}